.about {
    display: flex;
    height: 70vh;
    max-height: 800px;
    align-items: center;
    justify-content: center;
    padding: 0em 4em ;
    font-size: 2.5vw;
    line-height: 3.8vw;
    color: #707070;
}

@media (max-width: 768px) {
   .about {
        font-size: 2rem;
        padding: 0px 1em;
        line-height: 1.4em;
   }
}
    
    