.contact {
    height: 70vh;
    max-height: 800px;
    padding: 3em 6em;
}
.contact p {
    font-size: 2.5vw;
    padding: 0.7em;
}

.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
    color: black;
    text-underline-offset: 1.2em;
}