.contact {
    height: 70vh;
    max-height: 800px;
    padding: 3em 6em;
}
.contact p {
    font-size: 2.5rem;
    padding: 0.7em;
}

.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
    color: black;
    text-underline-offset: 1.2em;
}

@media (max-width: 768px) {
    .contact p {
        font-size: 1rem;
    }
    .contact {
        padding: 0;
        padding-left: 1em;
        padding-top: 3em;
    }
}