a {
    color: #707070;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 11vw;
    font-weight: lighter;
    /* text-decoration: underline black 0.02em; */
    text-underline-offset: 0.2em;
    font-family: serif;
}

.list-1,
.list-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-size: 4vw;
}

.list-2 {
    padding-left: 7.5vw;
}
.list-1 {
    padding-right: 7.5vw;
}

li {
    padding: 1.5vw;
    display: inline-block;
    transition: transform 0.3s ease, color 0.25s ease;
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    transform: scale(1.1);
    color: black;
}

.container {
    display: flex;
    max-width: 1560px;
    justify-self: center;
}

.hero-img {
    width: 28vw;
    border: 2.5px solid black;
    border-radius: 20px 20px 0px 0px;
}

@media (max-width: 768px) {
    .main {
        height: auto;
    }
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        max-height: 300px;
    }
    .list-1,
    .list-2 {
        width: 100%;
        padding: 0px;
        order: -1;
        font-size: 5vw;
    }
    li {
        width: 100%;
        border-bottom: 0.02em solid #707070;
    }
    li:hover {
        text-decoration: none;
        border-bottom: 0.02em solid black;
    }
    .hero-img {
        width: 80vw;
        margin-top: 40px;
    }
    h1 {
        margin: 40px 0px;
    }
}